  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    /*aumentar fonte*/
  }

  .headingDiv
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    /*add margem externa*/
  }

  .headingDiv2
  {
    font-size: 18px ;
  }

  .resultado
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 