  body {
    color: white;
    background-color: #87CEFA;
  }
  .heading {
    width: 80%;
    font-size: 22px;
  }
  #camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .nameObjects, #resultObjectName, #resultObjectAccuracy {
    color: yellow;
  }
